{
  "ID": "{{ item.value.domain }}_{{ item.key }}",
  "Name": "{{ item.value.domain }}_{{ item.key }}",
  "Tags": [
    "prometheus-exporters",
    "blackbox_exporter",
    "module-{{ item.value.module }}",
    "domain-{{ item.value.domain }}",
    "url-{{ item.value.url }}",
    "host-{{ item.value.host }}",
    "load-balancer-{{ item.value.load_balancer }}",
    "env-{{ item.value.env }}"
  ],
  "Address": "{{ item.value.domain }}"
}
