{
  "ID": "{{ item.value.domain }}_{{ item.key }}",
  "Name": "{{ item.value.domain }}_{{ item.key }}",
  "Tags": [
    "prometheus-exporters",
    "blackbox_exporter",
    "module-{{ item.value.module }}",
    "url-{{ item.value.url }}",
{% if item.value.host is defined and item.value.host != "" %}
    "hostname-{{ item.value.host }}",
{% endif %}
{% if item.value.main_domain is defined and item.value.main_domain != "" %}
    "main_domain-{{ item.value.main_domain }}",
{% endif %}
{% if item.value.load_balancer is defined and item.value.load_balancer != "" %}
    "load-balancer-{{ item.value.load_balancer }}",
{% endif %}
{% if item.value.env is defined and item.value.env != "" %}
    "env-{{ item.value.env }}",
{% endif %}
    "domain-{{ item.value.domain }}"
  ],
  "Address": "{{ item.value.domain }}"
}
